body{
    font-size: 18px;
    color: #2d3748;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans- serif;
}
.container{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
}

.container > header,main,aside {
    padding: 25px;
}

header {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    background-color: #63B3ED;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin: 0;

}
header >img{
    height: 150px;
    width: 150px;
    border-radius: 40%;

}

header >h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:10px 0;
}

main{
    grid-column: 1/2;
    grid-row: 2;
    margin-left: 60px;
    padding: 60px;
}



article >img{
    height: 150px;
    width: 200px;
}

article >p{
    margin: 5px 0;
    color: #718096
}

#right{
    float: right;
}

#left{
    float: left;
}

#sidebar{
    grid-column: 2;
    grid-row: 2;
    margin-right: 60px;

}

#sidebar > h2{
    font-family: Georgia,'Times New Roman', Times, serif;
}

#sidebar ul{
    list-style: none;
}

#sidebar ul a{
    color: #4299E1;
    text-decoration: none !important;
}

.greenhead{
    color: #48BB78;
}

.About{
    background-color: #E2E8F0;
    padding: 15px;
}

#footer{
    grid-column: 1/3;
    grid-row:3;
    text-align: center;
    background-color: #2C5282;
    color:#FFFFFF;
}